.chart-symbol{
    /* dot symbol*/
    -fx-background-radius: 3px;
    -fx-padding: 3px;
}

.default-color0.chart-symbol{
    /* Opening price series*/
    -fx-stroke: green;
    -fx-background-color: green;
}
.default-color1.chart-symbol{
    /* Closing price series*/
    -fx-stroke: red;
    -fx-background-color:  red;
}
.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-title {
    -fx-text-fill: #3e2723;
    -fx-font-size: 1.6em;
}

.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 20px;
}
.axis {
    -fx-font-size: 1.4em;
    -fx-tick-label-fill: #3e2723;
    -fx-font-family: Tahoma;

}

.axis-label {
    -fx-text-fill: #3e2723;
}

